<div class="aligner">
  <form (ngSubmit)="onSignin(f)" #f="ngForm" class="mat-elevation-z5">
    <p>
      <mat-form-field>
        <input matInput placeholder="Email" name="email" type="email" required ngModel>
        <mat-error></mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input 
          matInput 
          placeholder="Password" 
          name="password" 
          type="password" 
          shouldEncryptPassword="true"
          required 
          ngModel>
        <mat-error></mat-error>
      </mat-form-field>
    </p>
    <p>
      <button mat-button color="primary" type="submit">Sign In</button>
      <button mat-button type="button" (click)="onSignup()">Sign Up</button>
    </p>
  </form>
</div>